* {
    font-size: 20px;
    color: darkblue;
    
    text-align: center;
}

#nextJoke {
    
    font-weight: bold;
    
    
}

p {
    color: black;
    font-size: 16px;

}

#peticion {
    color: red;
    font-weight: bold;
}

.score {
    color: black;
    background-color: lightsalmon;
    
}

.backgroundJoke {
    background-image: url("img/background_jokes.svg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}